
<!-- <div class="jumbotron text-center">
  <h1>Links lists</h1>
</div>
 -->    <% @links.each do |link| %>
     <h3><%= link_to link.link,link %></h3>
     <h6>Submitted <%= time_ago_in_words(link.created_at) %> earlier by <%= link.user.email %></h6>
     
    <% end %>
